<%- include('../partials/header') %>

<h3>Update Review</h3>

<form id="edit-review" method="POST" action="/reviews/<%= location._id %>/reviews/<%= review._id %>?_method=PUT">
    <div class="form-group">
     <label>Comment:</label>
     <textarea name="comment"></textarea>
    </div>
    <div class="form-group">
        <label>Rating:</label>
         <select name="rating">
             <option value="1">1</option>
             <option value="2">2</option>
             <option value="3">3</option>
             <option value="4">4</option>
             <option value="5">5</option>
         </select><br>
    </div>
    <input type="submit" value="Update" class="update-button">
</form>


<%- include('../partials/footer') %>