<%- include('./partials/header') %>
  <br><br>
  <h2>Welcome to (project_name), connecting you to the best family-friendly destinations in Brooklyn!</h2><br>
  <a href="/locations" class="homepage-link">Check out our list here!</a>
<%- include('./partials/footer') %>