<%- include('./partials/header') %>
  <br><br>
  <h2>Welcome to KidZone Brooklyn!</h2><br>
  <div class="welcome-text-container">
    <p>Our mission is to help busy parents find family-friendly activities in a city that can be tough for young families.
      We also aim to facilitate connections between parents and families. Check out our user-curated list of destinations or check out our Meetups page to connect!
    </p>
    <a href="/locations/all" class="homepage-link">Check out our list here!</a>
  </div>
<%- include('./partials/footer') %>