body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(252, 250, 239);
  margin: 0;
  height: 95vh;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  rgb(252, 250, 239);
  background-image: url(/images/background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 95%;
}

nav {
  background-color: #00B7FF;
  padding: 10px;
  padding-right: 25px;
  color: #fff;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 25px;
  margin: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

#home-link {
  margin-left: 10px;
  margin-right: auto;
}

nav a:hover:not(#home-link) {
  background-color: lightblue;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login img {
  height: 20px;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

p, h5 {
  text-align: center;
  margin-left: 75px;
  margin-right: 75px;
}

.homepage-link {
  display: flex;
  justify-content: center;
}

#list-all, #my-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#list-all th, #list-all td {
  text-align: center;
  padding: 15px;
}

.all-locations-table, .my-locations-table {
  margin: 20px;
  border-radius: 5px;
  background-color: lightblue;
  display: table;
  table-layout: fixed;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
}

.my-locations-table th, .my-locations-table td {
  text-align: center;
  padding: 15px;
}

.new-location-form, .new-meetup-form, #edit-review, .welcome-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.welcome-text-container {
  width: 40%;
}

.new-location-form {
  padding: 50px;
}

.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  border-radius: 5px;
}

.review-label {
  padding: 5px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.show-container {
  background-color: lightblue;
  width: 60%;
  padding-bottom: 30px;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.new-input-container {
  display: grid;
  grid-template-columns: 80px 200px;
  grid-gap: 10px;
}

.new-location-form input[name="description"] {
  height: 75px;
}

.child-equipped {
  display: flex;
}

.child-equipped input {
  margin-left: 10px;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
}

.details-container p {
  white-space: pre-wrap;
}

.details-facilities {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-facilities > h4 {
  padding: 10px;
}

.review-form, .reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table thead th {
  border-radius: 4px 4px 0px 0px;
}

.reviews-table > th {
  vertical-align: middle;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.new-meetup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meetup-input-container {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.meetup-input-container label {
  justify-self: end;
  margin-bottom: 5px;
}

#user-avatar {
  border-radius: 50px;
  height: 30px;
}

.meetups-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 95%;
}

.meetup-card, .reviews-table {
  margin: 20px;
  width: 100%;
  max-width: 768px;
  border-radius: 5px;
  text-align: center;
  background-color: lightblue;
  table-layout: fixed;
  display: table;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.meetup-card {
  padding-bottom: 10px;
}

.reviews-table {
  width: 70%;
}

.details-link {
  text-decoration: none;
}

.details-link:hover {
  color: #fff;
}

.review-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#add-review-btn, .add-loc-btn, .signup-btn, .create-meetup-button, .update-button {
  padding: 10px 20px;
  background-color: #00B7FF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}

#add-review-btn:hover, .add-loc-btn:hover, .signup-btn:hover, .create-meetup-button:hover, .update-button:hover {
  background-color: #0056b3;
}

.meetup-card td {
  word-break: break-word;
  display: table-cell;
  padding: 5px;
}

th {
  background-color:#00B7FF;
}

.all-locations-table tr:nth-child(even),
.my-locations-table tr:nth-child(even), .reviews-table tr:nth-child(even) {
  background-color: rgb(206, 234, 244); 
}

.all-locations-table th,
.all-locations-table td,
.my-locations-table th,
.my-locations-table td {
  border: none;
}

.all-locations-table,
.my-locations-table, .reviews-table {
  border-collapse: separate; 
  border-spacing: 0;
}

.delete-button {
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: rgb(244, 115, 115);
  border-radius: 3px;
  padding: 7px;
}

.delete-button:hover {
  background-color: red;
  color: black;
}

input, textarea {
  border-radius: 3px;
  padding: 3px;
  border: 2px #00B7FF;
  font-size: 16px;
}

#img-credit-link {
  text-align: right;
}

.edit-button {
  background-color: #f9c320f9;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
}

.edit-button:hover {
  background-color: #b37700;
}

.buttons-cell-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-cell {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 10px 30px;
  grid-gap: 15px;
}

#review-buttons {
  margin-top: 15px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}