body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(246, 239, 230);
}

a {
  color: #00B7FF;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(246, 239, 230);
}

nav {
  background-color: #007bff;
  padding: 10px;
  padding-right: 25px;
  color: #fff;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 25px;
}

nav > a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login img {
  height: 20px;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}

p, h5 {
  text-align: center;
}

.homepage-link {
  display: flex;
  justify-content: center;
}


#list-all, #my-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#list-all th, #list-all td {
  text-align: center;
  padding: 10px;
}

.all-locations-table, .my-locations-table {
  margin: 20px;
  border-radius: 5px;
  background-color: lightblue;
  display: table;
  table-layout: fixed;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.my-locations-table th, .my-locations-table td {
  text-align: center;
  padding: 10px;
}

.new-location-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.show-container {
  background-color: lightblue;
  padding: 0px 25px 25px 25px;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.new-input-container {
  display: grid;
  grid-template-columns: 80px 200px;
  grid-gap: 10px;
}

.new-location-form input[name="description"] {
  height: 75px;
}

.child-equipped {
  display: flex;
}

.child-equipped input {
  margin-left: 10px;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-facilities {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-facilities > h4 {
  padding: 10px;
}

.review-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table thead th {
  padding: 5px;
  border-radius: 3px;
}

.reviews-table {
  display: grid;
  justify-content: center;
  align-items: center;
}

.reviews-table > th {
  vertical-align: middle;
  text-align: left;
}

.user-review {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.new-meetup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meetup-input-container {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.meetup-input-container label {
  justify-self: end;
  margin-bottom: 5px;
}

#user-avatar {
  border-radius: 50px;
  height: 30px;
}

.meetups-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 95%;
}

.meetup-card {
  margin: 20px;
  width: 100%;
  max-width: 768px;
  border-radius: 5px;
  text-align: center;
  background-color: lightblue;
  table-layout: fixed;
  display: table;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.meetup-card td {
  word-break: break-word;
  display: table-cell;
  padding: 5px;
}

th {
  background-color:#00B7FF;
}